* {
	box-sizing: border-box;
}

html {
	font-family: "Jost", sans-serif;
}

body {
	margin: 0;
}

header {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	padding: 0.5rem;
	background: linear-gradient(
		90deg,
		rgba(168, 8, 8, 1) 0%,
		rgba(109, 2, 20, 1) 49%,
		rgba(255, 42, 42, 1) 100%
	);
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}

section {
	width: 90%;
	max-width: 40rem;
	margin: auto;
}

.healthbar {
	width: 100%;
	height: 40px;
	border: 1px solid #575757;
	margin: 1rem 0;
	background: #fde5e5;
	position: relative;
}

.healthbar__value {
	background-color: #00a876;
	width: 100%;
	height: 100%;
}

.healthbar__number {
	position: absolute;
	font-size: 26px;
	z-index: 1;
	left: 50%;
	transform: translate(-50%, -68%);
}

.container {
	text-align: center;
	padding: 0.5rem;
	margin: 1rem auto;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 12px;
}

#monster h2,
#player h2 {
	margin: 0.25rem;
}

#controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

button {
	font: inherit;
	color: white;
	padding: 1rem 2rem;
	border-radius: 12px;
	margin: 1rem;
	width: 12rem;
	cursor: pointer;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:hover,
button:active {
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.26);
	transition: all 0.4s;
}

button:focus {
	outline: none;
	box-shadow: 2px 2px 2px 2px rgb(20, 20, 20);
}

button:disabled,
button:disabled:hover {
	background-color: #ccc;
	border-color: #ccc;
	box-shadow: none;
	color: #3f3f3f;
	cursor: not-allowed;
}

.special-attack {
	border: 1px solid #88005b;
	background-color: #88005b;
}

.special-attack:hover,
.special-attack:active {
	background-color: #af0a78;
	border-color: #af0a78;
}

.heal {
	border: 1px solid #087756;
	background-color: #03971c;
}

.heal:hover,
.heal:active {
	background-color: #07c727;
	border-color: #06996d;
}

.attack {
	border: 1px solid #640303;
	background-color: rgb(160, 8, 8);
}

.attack:hover,
.attack:active {
	border: 1px solid #750303;
	background-color: rgb(219, 6, 6);
}

.surrender {
	border: 1px solid #0f0f0f;
	background-color: rgb(20, 20, 20);
}

.surrender:hover,
.surrender:active {
	border: 1px solid #141414;
	background-color: rgb(32, 32, 32);
}

.new {
	border: 1px solid rgb(212, 122, 4);
	background-color: rgb(230, 159, 6);
}

.new:hover,
.new:active {
	border: 1px solid rgb(243, 139, 3);
	background-color: rgb(255, 187, 0);
}

#log {
	background-color: rgb(240, 240, 252);
}

#log ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

#log h2 {
	font-size: 26px;
}

#log li {
	margin: 0.5rem 0;
}

.log--player {
	color: #7700ff;
}

.log--monster {
	color: #da8d00;
}

.log--damage {
	color: red;
}

.log--special-damage {
	color: #4b0510;
}

.log--heal {
	color: green;
}

.log--surrender {
	color: #3f3f3f;
}

.game-result {
	background-color: rgb(217, 217, 252);
}

[v-cloak] {
	display: none;
}
